/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    max-width: 840px;
    margin: 1rem auto;
}

footer {
    text-align: center;
    color: #6c757d;
}

footer a, #collapseTwo a {
    color: #4b6326;
}

footer a:hover, #collapseTwo a:hover {
    color: #8ba510;
}
