/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    max-width: 840px;
    margin: 1rem auto;
}

.footer {
    display: table;
    margin: 0 auto;
    color: #6c757d;
}

.footer-cell {
    display: table-cell;
}

.social-link {
    color: #4b6326;
    outline: transparent;
}

.social-link:hover, .social-link:focus {
    color: #8ba510;
}
