<div class="my-3">
    <img class="img-fluid" src="static/images/logo_large.jpg" alt="logo">
</div>
<div id="index-link" class="my-5">
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
            <a href="#/query">
                <i class="fas fa-search fa-7x"></i>
                <h5 class="card-title">歌單</h5>
            </a>
        </div>
        <div class="col-auto mb-3">
            <a href="#/rank">
                <i class="fas fa-file-alt fa-7x"></i>
                <h5 class="card-title">統計</h5>
            </a>
        </div>
    </div>
</div>
<div id="web-info" class="my-5">
    <div class="card border-info">
        <div class="card-header text-white dmw-bg-info" id="headingOne">
            <a class="btn-link dmw-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="d-flex justify-content-between">
                    美蛙是誰? <i class="fas fa-plus-circle fa-1x align-self-center"></i>
                </div>
            </a>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
            <div class="card-body text-center text-secondary">
                Wannasinging老王，別名大美蛙，偶爾開台唱歌、玩遊戲的實況主
            </div>
        </div>
    </div>
    <div class="card border-info">
        <div class="card-header text-white dmw-bg-info" id="headingTwo">
            <a class="btn-link dmw-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="d-flex justify-content-between">
                    美蛙在哪裡? <i class="fas fa-plus-circle fa-1x align-self-center"></i>
                </div>
            </a>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body d-flex flex-row justify-content-center">
                <a class="social-link" href="https://www.twitch.tv/wannasinging" target="_blank" title="Twitch">
                    <i class="fab fa-twitch fa-3x mr-2"></i>
                </a>
                <a class="social-link" href="https://www.youtube.com/user/wannasinging" target="_blank" title="YouTube">
                    <i class="fab fa-youtube-square fa-3x mr-2"></i>
                </a>
                <a class="social-link" href="https://www.facebook.com/WannaSinging" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-square fa-3x mr-2"></i>
                </a>
                <a class="social-link" href="https://www.instagram.com/wannasinging_retry" target="_blank" title="Instagram">
                    <i class="fab fa-instagram fa-3x mr-2"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card border-info">
        <div class="card-header text-white dmw-bg-info" id="headingThree">
            <a class="btn-link dmw-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="d-flex justify-content-between">
                    關於本站 <i class="fas fa-plus-circle fa-1x align-self-center"></i>
                </div>
            </a>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
            <div class="card-body text-center text-secondary">
                更新時間通常是老王關台後一至兩天，若遇週末或連續假期則可能再延長。<br>
                如果有任何問題或建議，歡迎透過頁面底部資訊與我聯繫，感謝 OwO
            </div>
        </div>
    </div>
    <div class="card border-info">
        <div class="card-header text-white dmw-bg-info" id="headingFour">
            <a class="btn-link dmw-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="d-flex justify-content-between">
                    特別感謝 <i class="fas fa-plus-circle fa-1x align-self-center"></i>
                </div>
            </a>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
            <div class="card-body text-center text-secondary">
                shawfichiang, yukondesu
            </div>
        </div>
    </div>
</div>
